<!doctype html>
<html class="no-js" lang="zxx">
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TT Currency Exchange</title>
    <meta name="description" content="TT Currency Exchange gives you with all the best money exchange rates in Thailand.">

    
	<meta name="keywords" content="TT, Money Exchange, Currency Exchange, Best Exchange Rates"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="img/logo_fav.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/progressbar_barfiller.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/animated-headline.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mystyle.css">

    <!-- <script type="text/javascript">
        window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
        heap.load("2678262663");
    </script> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176719465-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176719465-1');
</script>

</head>
<body>
    <!-- ? Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div id="google_translate_element"></div>

            <div class="main-header header-sticky">
                <!-- Logo -->
                <div class="header-left">
                    <div class="logo">
                        <a href="index.html"><img class="imagelogo" src="img/logo.png" alt=""></a>
                    </div>
                    <div class="menu-wrapper  d-flex align-items-center">
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav> 
                                <div id="google_translate_element"></div>

                                <ul id="navigation">                                                                                          
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><a href="#exchange">Exchange Rate</a></li>
                                    <li><a href="#contact">Contact Us</a></li>
                                    <!-- <li><a href="services.html">About Us</a></li> -->
                                    <!-- <li><a href="blog.html">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog_details.html">Blog Details</a></li>
                                            <li><a href="elements.html">Element</a></li>
                                        </ul>
                                    </li> -->
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> 
                <div class="header-right d-none d-lg-block">
                    <a href="#" class="header-btn1"><img src="img/icon/call.png" alt=""> + 66660813861</a>
                    <a href="#" class="header-btn2">CALL US</a>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <section class="slider-area hero-overly">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-10 col-sm-9" id="exchange">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay="0.2s">Best Exchange Rates</h1>
                                    <p data-animation="fadeInLeft" data-delay="0.4s">TT Currency Exchange provide you with the best exchange rates.</p>
                                    <a href="#" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Explore Exchange Rates</a>
                                </div>
                            </div>

                            <div class="col-lg-6 animate-box fadeInUp animated-fast exchangeRate">
                                <div class="wpb_wrapper"  >
                                    <div id="bfc_block_main" class="bfc_block">
                                        <div class="tabs" style="display:flex;">
                                            <div class="" index="1" id="transfer">Currency Exchange</div>
                                        </div>
                                        <div class="tab_content cur_content">
                    
                    
                                            <div class="content_2 active" index="2">
                                                <table cellspacing="0" cellpadding="0">
                                                    <tbody id="table2">
                                                        <tr class="head">
                                                            <th> Currency </th>
                                                            <th> Buy </th>
                                                            <th> Sell </th>
                                                        </tr>
                                                        
                                                        
                                                        <tr id="curr-table-wrapper2">
                                                            <td>
                                                                <div class="icon"><span class="helper"></span><img id="url"
                                                                        src="https://www.countryflags.io/sg/flat/64.png"
                                                                        ></div>
                                                                <div class="currency_name">
                                                                    <div class="title" id="abbv-name">SGD</div>
                                                                    <span id="full-name">Singapore Dollar</span>
                                                                </div>
                                                            </td>
                                                            <td id="buy"> 3424.6575 </td>
                                                            <td id="sell"> 3278.6885 </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- <div class="time"> Last updated rates at 2020-06-04 02:32:13 </div> -->
                                                <div class="info" style="margin-left:20px;"> Regulated by TT Currency Exchange. Rates are indicative and
                                                    subject to change. These may vary by bank or service used. </div>
                                                
                                            </div>
                    
                                        </div>
                    
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>



       <section class="mobile-Exchange" style="margin:10px">
           <div class="row">
            <div class="col-lg-6 animate-box fadeInUp animated-fast">
                <div class="wpb_wrapper" >
                    <div id="bfc_block_main" class="bfc_block">
                        <div class="tabs" style="display:flex;">
                            <div class="" index="1" id="transfer">Currency Exchange</div>
                        </div>
                        <div class="tab_content cur_content">
    
    
                            <div class="content_2 active" index="2">
                                <table cellspacing="0" class="skip_translate" cellpadding="0">
                                    <tbody id="table1">
                                        <tr class="head">
                                            <th> Currency </th>
                                            <th> Buy </th>
                                            <th> Sell </th>
                                        </tr>
                                        
                                        
                                        <tr id="curr-table-wrapper1">
                                            <td>
                                                <div class="icon"><span class="helper"></span><img id="url"
                                                        src="https://www.countryflags.io/sg/flat/64.png"
                                                        ></div>
                                                <div class="currency_name">
                                                    <div class="title" id="abbv-name">SGD</div>
                                                    <span id="full-name">Singapore Dollar</span>
                                                </div>
                                            </td>
                                            <td id="buy"> ... </td>
                                            <td id="sell"> ... </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <div class="time"> Last updated rates at 2020-06-04 02:32:13 </div> -->
                                <div class="info"> Regulated by TT Currency Exchange. Rates are indicative and
                                    subject to change. These may vary by bank or service used. </div>
                                
                            </div>
    
                        </div>
    
    
                    </div>
                </div>
            </div>
           </div>
       </section>


       
       <section class="exchangecard">
        <div class="card">
         <div class="tabcontainer">
          <a  id="lefttab" class="tabs lefttabs active">
             <p>Money Exchange</p></a><a id="righttab"  class="tabs righttabs"><p>Money Transfer</p>
          </a>
        </div>
          <div class="moneycontainer">
            <p id="moneytitle">How much do you want to transfer today?</p>
            <div class="inputcontainer">
              <div class="label">
                <span id="moneyup">
                  You send</span>
              </div>
              <div class="inputwrapper">
                <input id="transferTopInput" type=number placeholder="0.00" />
              </div>
              <button class="flagwrapper">
                <img class="flagimg" src="https://www.countryflags.io/th/flat/64.png"/>
                <span>THB</span>
              </button>
            </div>
            <div class="inputcontainer">
                      <div class="label">
                <span id="moneydown">
      Recipient Gets</span>
              </div>
            <div class="inputwrapper">
              <input id="transferBtmInput" type=number placeholder="0.00" />
            </div>
            <button class="flagwrapper flagDropdown" id="dropdown">
                
              <img class="flagimg" id="flagimg" code="USD" src="https://www.countryflags.io/us/flat/64.png"/>
              <span id="flagspan">USD</span>
              
              <div class="dropdownContent" id="dropcont">
                <div class="flagwrapper" onclick='changeCode("USD","https://www.countryflags.io/us/flat/64.png")' style="display:inline-block;">
                    <img class="flagimg" id="flagimg" code="USD"  src="https://www.countryflags.io/us/flat/64.png"/>
                    <span>USD</span>
                </div>
                <div class="flagwrapper" onclick='changeCode("GBP","https://www.countryflags.io/gb/flat/64.png")' style="display:inline-block;">
                    <img class="flagimg" id="flagimg" code="GBP"  src="https://www.countryflags.io/gb/flat/64.png"/>
                    <span>GBP</span>
                </div>

                <div class="flagwrapper" onclick='changeCode("SGD","https://www.countryflags.io/sg/flat/64.png")' style="display:inline-block;">
                    <img class="flagimg" id="flagimg" code="SGD" src="https://www.countryflags.io/sg/flat/64.png"/>
                    <span>SGD</span>
                </div>
                <div class="flagwrapper" onclick='changeCode("CNY","https://www.countryflags.io/cn/flat/64.png")' style="display:inline-block;">
                    <img class="flagimg" id="flagimg" code="CNY" src="https://www.countryflags.io/cn/flat/64.png"/>
                    <span>CNY</span>
                </div>
                <div class="flagwrapper" onclick='changeCode("VND","https://www.countryflags.io/vn/flat/64.png")' style="display:inline-block;">
                    <img class="flagimg" id="flagimg" code="VND" src="https://www.countryflags.io/vn/flat/64.png"/>
                    <span>VND</span>
                </div>
              </div>
            </button>


          </div>
          </div>
        </div>
      </section>
      


        <!-- slider Area End-->
        <!--? Services Area Start -->
        <!-- <section class="services-area pt-top border-bottom pb-20 mb-60">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <span class="element">Our Process</span>
                            <h2>This is how we work</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="img/icon/services-icon1.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">We collect your clothes</a></h5>
                                <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="img/icon/services-icon2.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Wash your clothes</a></h5>
                                <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="img/icon/services-icon3.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Get delivery</a></h5>
                                <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Services End -->


        <!-- Carousel -->
        <section class="carousel" style="padding-top:60px;">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-4 superrich-color-green text-small-big superrich-bg-light-gray div-explore-image" style="padding-right: 5px;">
                            <div class="row">
                                <div class="col-xs-4 explore-image " >
                                    <img 
                                    style="vertical-align: top; max-width: 100px;"
                                    src="./img/thaitower_yellow.png">
                                </div>
                                <div class="col-xs-8 explore-detail ng-scope" style="padding-left: 10px; padding-right: 0px" ng-if="currencyItem.shortName_en=='THB'">
                                    <div>For</div>
                                    <div class="text-bold text-big"> 1 USD</div>
                                    <div>You will get 
                                        <span class="text-bold ng-binding" ng-bind="currencyItem.sellRate">31.51</span>
                                        <span class="text-bold"> THB</span>
                                    </div>
                                    <div>From us</div>
                                    <a href="#!/en/currency#THB">
                                        <div class="btn-web superrich-bg-super-light-green superrich-color-white btn-explore">
                                            EXPLORE <span ng-bind="currencyItem.shortName_en" class="ng-binding">THB</span> 
                                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                        </div>
                                    </a>
                                </div><!-- end ngIf: currencyItem.shortName_en=='THB' -->
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7 col-lg-8 no-padding">
                            <img  alt="THB - Thai Baht Currency | สกุลเงิน บาท ไทย | Super Rich Thailand | ซุปเปอร์ริช" ng-src="https://www.superrichthailand.com:443/uploads/images/8333969d53baf04ed61ff1a62eb86c531506497107218.jpeg" class="img-responsive banner-image" src="https://www.superrichthailand.com:443/uploads/images/8333969d53baf04ed61ff1a62eb86c531506497107218.jpeg">
                            <div class="banner-description"><span ng-bind="currencyItem['bannerTitle_'+lang]" class="ng-binding">Thailand</span>&nbsp;<span ng-bind="currencyItem['bannerDescription_'+lang]" class="ng-binding">The country that perfectly combines with an acculturation, nature, and modernity. You can design your travel trip as your desire. You will impress and not forget when visiting Thailand.</span></div>
                        </div>
                    </div>  
                </div>

                <div class="item">
                    <div class="row">
                
                        <div class="col-xs-12 col-md-5 col-lg-4 superrich-color-green text-small-big superrich-bg-light-gray div-explore-image" style="padding-right: 5px;">
                            <div class="row">
                            <div class="col-xs-4 explore-image "><img  style="vertical-align: top; max-width: 100px;" src="img/us_tower_yellow.png"></div>
                            <!-- ngIf: currencyItem.shortName_en !='THB' --><div class="col-xs-8 explore-detail ng-scope" style="padding-left: 10px; padding-right: 0px" ng-if="currencyItem.shortName_en !='THB'">
                                <div>For</div>
                                <div class="text-bold text-big"><span ng-bind="currencyItem.sellRate" class="ng-binding">31.51</span> THB
                                </div>
                                <div>You will get <span class="text-bold"> 1 <span ng-bind="currencyItem.shortName_en" class="ng-binding">USD</span></span></div>
                                <div>From us</div>
                                <a href="#!/en/currency#USD" ng-click="gaTackEvent('Homepage','Click','Explore_'+currencyItem.shortName_en+'_button ')">
                                    <div class="btn-web superrich-bg-super-light-green superrich-color-white btn-explore">
                                        EXPLORE <span ng-bind="currencyItem.shortName_en" class="ng-binding">USD</span> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
                                </a></div><!-- end ngIf: currencyItem.shortName_en !='THB' --></div>
                            <!-- ngIf: currencyItem.shortName_en=='THB' -->
                        </div>
                        <div class="col-xs-12 col-md-7 col-lg-8 no-padding"><img alt="USD - US Dollars Currency | สกุลเงิน ดอลลาร์ สหรัฐ | Super Rich Thailand | ซุปเปอร์ริช" ng-src="https://www.superrichthailand.com:443/uploads/images/0c693ce278fc3325b655a7e40a9c2f5b1506495975941.jpeg" class="img-responsive banner-image" src="https://www.superrichthailand.com:443/uploads/images/0c693ce278fc3325b655a7e40a9c2f5b1506495975941.jpeg">
                            <div class="banner-description"><span ng-bind="currencyItem['bannerTitle_'+lang]" class="ng-binding">United States</span>&nbsp;<span ng-bind="currencyItem['bannerDescription_'+lang]" class="ng-binding">The unmissable land of freedom, diversity, and technology you have to pin!</span></div>
                        </div>
                    </div>
                </div>

                
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-lg-4 superrich-color-green text-small-big superrich-bg-light-gray div-explore-image" style="padding-right: 5px;">
                            <div class="row">
                            <div class="col-xs-4 explore-image " ><img style="vertical-align: top; max-width: 100px;" src="img/china_tower_yellow.png"></div>
                            <!-- ngIf: currencyItem.shortName_en !='THB' --><div class="col-xs-8 explore-detail ng-scope" style="padding-left: 10px; padding-right: 0px" ng-if="currencyItem.shortName_en !='THB'">
                                <div>For</div>
                                <div class="text-bold text-big"><span ng-bind="currencyItem.sellRate" class="ng-binding">4.55</span> THB
                                </div>
                                <div>You will get <span class="text-bold"> 1 <span ng-bind="currencyItem.shortName_en" class="ng-binding">CNY</span></span></div>
                                <div>From us</div>
                                <a href="#!/en/currency#CNY" ng-click="gaTackEvent('Homepage','Click','Explore_'+currencyItem.shortName_en+'_button ')">
                                    <div class="btn-web superrich-bg-super-light-green superrich-color-white btn-explore">
                                        EXPLORE <span ng-bind="currencyItem.shortName_en" class="ng-binding">CNY</span> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
                                </a></div><!-- end ngIf: currencyItem.shortName_en !='THB' --></div>
                            <!-- ngIf: currencyItem.shortName_en=='THB' -->
                        </div>
                        <div class="col-xs-12 col-md-7 col-lg-8 no-padding"><img alt="CNY - Chinese Yuan Currency | สกุลเงิน หยวน จีน | Super Rich Thailand | ซุปเปอร์ริช" ng-src="https://www.superrichthailand.com:443/uploads/images/8aa2b740c6730e9ed919b634dc47820e1506496952429.jpeg" class="img-responsive banner-image" src="https://www.superrichthailand.com:443/uploads/images/8aa2b740c6730e9ed919b634dc47820e1506496952429.jpeg">
                            <div class="banner-description"><span ng-bind="currencyItem['bannerTitle_'+lang]" class="ng-binding">China</span>&nbsp;<span ng-bind="currencyItem['bannerDescription_'+lang]" class="ng-binding">The exotic extensive land. Touch the unique diverse cultures and antique historical places which bring your imagination to the top.</span></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-lg-4 superrich-color-green text-small-big superrich-bg-light-gray div-explore-image" style="padding-right: 5px;">
                            <div class="row">
                            <div class="col-xs-4 explore-image " ><img  style="vertical-align: top; max-width: 100px;" src="img/london_tower_yellow.png"></div>
                            <!-- ngIf: currencyItem.shortName_en !='THB' --><div class="col-xs-8 explore-detail ng-scope" style="padding-left: 10px; padding-right: 0px" ng-if="currencyItem.shortName_en !='THB'">
                                <div>For</div>
                                <div class="text-bold text-big"><span ng-bind="currencyItem.sellRate" class="ng-binding">41.4</span> THB
                                </div>
                                <div>You will get <span class="text-bold"> 1 <span ng-bind="currencyItem.shortName_en" class="ng-binding">GBP</span></span></div>
                                <div>From us</div>
                                <a href="#!/en/currency#GBP" ng-click="gaTackEvent('Homepage','Click','Explore_'+currencyItem.shortName_en+'_button ')">
                                    <div class="btn-web superrich-bg-super-light-green superrich-color-white btn-explore">
                                        EXPLORE <span ng-bind="currencyItem.shortName_en" class="ng-binding">GBP</span> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
                                </a></div><!-- end ngIf: currencyItem.shortName_en !='THB' --></div>
                            <!-- ngIf: currencyItem.shortName_en=='THB' -->
                        </div>
                        <div class="col-xs-12 col-md-7 col-lg-8 no-padding">
                            <img alt="GBP - British Pounds Currency | สกุลเงิน ปอนด์ อังกฤษ | Super Rich Thailand | ซุปเปอร์ริช" ng-src="https://www.superrichthailand.com:443/uploads/images/fe4f53bd810b8f49b7ad5ebc64d41c5e1506496069819.jpeg" class="img-responsive banner-image" src="https://www.superrichthailand.com:443/uploads/images/fe4f53bd810b8f49b7ad5ebc64d41c5e1506496069819.jpeg">
                            <div class="banner-description"><span ng-bind="currencyItem['bannerTitle_'+lang]" class="ng-binding">United Kingdom,</span>&nbsp;<span ng-bind="currencyItem['bannerDescription_'+lang]" class="ng-binding">The co-cultural combined country. Melted all the history and arts of diverse races and cultures which blend in the modern way of technology beautifully.</span></div>
                        </div>

                    </div>
                </div>
               
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-lg-4 superrich-color-green text-small-big superrich-bg-light-gray div-explore-image" style="padding-right: 5px;">
                            <div class="row">
                            <div class="col-xs-4 explore-image " ><img style="vertical-align: top; max-width: 100px;" src="img/japan_tower_yellow.png"></div>
                            <!-- ngIf: currencyItem.shortName_en !='THB' --><div class="col-xs-8 explore-detail ng-scope" style="padding-left: 10px; padding-right: 0px" ng-if="currencyItem.shortName_en !='THB'">
                                <div>For</div>
                                <div class="text-bold text-big"><span ng-bind="currencyItem.sellRate" class="ng-binding">0.2985</span> THB
                                </div>
                                <div>You will get <span class="text-bold"> 1 <span ng-bind="currencyItem.shortName_en" class="ng-binding">JPY</span></span></div>
                                <div>From us</div>
                                <a href="#!/en/currency#JPY" ng-click="gaTackEvent('Homepage','Click','Explore_'+currencyItem.shortName_en+'_button ')">
                                    <div class="btn-web superrich-bg-super-light-green superrich-color-white btn-explore">
                                        EXPLORE <span ng-bind="currencyItem.shortName_en" class="ng-binding">JPY</span> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
                                </a></div><!-- end ngIf: currencyItem.shortName_en !='THB' -->
                            <!-- ngIf: currencyItem.shortName_en=='THB' -->
                        </div>
                        </div>
                        <div class="col-xs-12 col-md-7 col-lg-8 no-padding"><img alt="JPY - Japanese Yen Currency | สกุลเงิน เยน ญี่ปุ่น | Super Rich Thailand | ซุปเปอร์ริช" ng-src="https://www.superrichthailand.com:443/uploads/images/4f856dd4499182b013f8ebeee17d8c9e1506496511422.jpeg" class="img-responsive banner-image" src="https://www.superrichthailand.com:443/uploads/images/4f856dd4499182b013f8ebeee17d8c9e1506496511422.jpeg">
                            <div class="banner-description"><span ng-bind="currencyItem['bannerTitle_'+lang]" class="ng-binding">Japan</span>&nbsp;<span ng-bind="currencyItem['bannerDescription_'+lang]" class="ng-binding">The unique country which blends in the most modern technology and originality of Japanese culture.</span></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-lg-4 superrich-color-green text-small-big superrich-bg-light-gray div-explore-image" style="padding-right: 5px;">
                            <div class="row">
                            <div class="col-xs-4 explore-image " ><img style="vertical-align: top; max-width: 100px;" src="img/paris_tower_yellow.png"></div>
                            <!-- ngIf: currencyItem.shortName_en !='THB' --><div class="col-xs-8 explore-detail ng-scope" style="padding-left: 10px; padding-right: 0px" ng-if="currencyItem.shortName_en !='THB'">
                                <div>For</div>
                                <div class="text-bold text-big"><span ng-bind="currencyItem.sellRate" class="ng-binding">37.15</span> THB
                                </div>
                                <div>You will get <span class="text-bold"> 1 <span ng-bind="currencyItem.shortName_en" class="ng-binding">EUR</span></span></div>
                                <div>From us</div>
                                <a href="#!/en/currency#EUR" ng-click="gaTackEvent('Homepage','Click','Explore_'+currencyItem.shortName_en+'_button ')">
                                    <div class="btn-web superrich-bg-super-light-green superrich-color-white btn-explore">
                                        EXPLORE <span ng-bind="currencyItem.shortName_en" class="ng-binding">EUR</span> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
                                </a></div><!-- end ngIf: currencyItem.shortName_en !='THB' --></div>
                            <!-- ngIf: currencyItem.shortName_en=='THB' -->
                        </div>
                        <div class="col-xs-12 col-md-7 col-lg-8 no-padding"><img alt="EUR - Euros Currency | สกุลเงิน ยูโร | Super Rich Thailand | ซุปเปอร์ริช" ng-src="https://www.superrichthailand.com:443/uploads/images/903e32cb795d46c6d9fa465f93e9c51f1506496285284.jpeg" class="img-responsive banner-image" src="https://www.superrichthailand.com:443/uploads/images/903e32cb795d46c6d9fa465f93e9c51f1506496285284.jpeg">
                            <div class="banner-description"><span ng-bind="currencyItem['bannerTitle_'+lang]" class="ng-binding">Europe</span>&nbsp;<span ng-bind="currencyItem['bannerDescription_'+lang]" class="ng-binding">The classic and modern destination which is interesting both culture and geography landscape view. Lots of places to visit and experience as you desire.</span></div>
                        </div>
                </div>
                </div>
            </div>
            <div class="container">
                
                
                
                
                
                
            </div>
        </section>


        <!--? Offer-services Start  -->
        <!-- <section class="offer-services pb-bottom2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <span class="element">Services</span>
                            <h2>Services we offer</h2>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="img/gallery/offers1.png" alt="" class=" w-100">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="img/gallery/offers2.png" alt="" class=" w-100">
                            <div class="offers-caption text-center">
                                <div class="cat-icon">
                                    <img src="img/icon/offers-icon1.png" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="services.html">Cloth laundry</a></h5>
                                    <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="img/gallery/offers2.png" alt="" class=" w-100">
                            <div class="offers-caption text-center">
                                <div class="cat-icon">
                                    <img src="img/icon/offers-icon1.png" alt="">
                                </div>
                                <div class="cat-cap">
                                    <h5><a href="services.html">Cloth ironing</a></h5>
                                    <p>The automated process starts as soon as your clothes go into the machine. The outcome is gleaming clothes!!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-offers">
                            <img src="img/gallery/offers4.png" alt="" class=" w-100">
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Offer-services End  -->

        <!-- Testimonials_start -->
        <section class="testimonials-area testimonials-overly  position-relative">
            <div class="container">
                <div class="border-bottom section-padding40 ">
                    <div class="row">
                        <div class="col-xl-12 ">
                            <!-- testmonial-image -->
                            <div class="testmonial-nav text-center">
                                <div class="testmonial-thumb">
                                    <img src="img/gallery/testimonila1.png" alt="">
                                </div>
                                <div class="testmonial-thumb">
                                    <img src="img/gallery/testimonila2.png" alt="">
                                </div>
                                <div class="testmonial-thumb">
                                    <img src="img/gallery/testimonila3.png" alt="">
                                </div>
                                <div class="testmonial-thumb" style="border-radius:40px;">
                                    <img width="83" height="83"src="img/gallery/testimonila4.png" style="border-radius:40px;"alt="">
                                </div>
                            </div>
                            <div class="testmonial-item-active text-center">
                                <!-- testimonial-single-items -->
                                <div class="testmonial-item ">
                                    <p class="pera">I was amazed at the service of TT Exchange. It's all good<br>  This is simply unbelievable!</p>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p> - Rupaya</p>
                                </div>
                                <!-- testimonial-single-items -->
                                <div class="testmonial-item ">
                                    <p class="pera">Needed to exchange my cash during one of my trips to Thailand<br>, TT currency exchange saved my time and at the same time good rates.</p>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p> - Daisy</p>
                                </div>
                                <!-- testimonial-single-items -->
                                <div class="testmonial-item ">
                                    <p class="pera">Have been always using TT exchange, highly recommended.</p>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p> - Adlene</p>
                                </div>
                                <div class="testmonial-item">
                                    <p class="pera">TT exchange does not dissapoint.</p>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p> - Catherine</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials_end -->

        <!--? Want To work -->
        <!-- <section class="container">
            <section class="wantToWork-area" data-background="img/gallery/section_bg01.png">
                <div class="wants-wrapper w-padding2">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-8 col-lg-9 col-md-7">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <h2>Call us for a service</h2>
                                <p>We always deliver the best currency rates available.</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-5">
                            <a href="#" class="btn wantToWork-btn"><img src="img/icon/call2.png" alt=""> Learn More</a>
                        </div>
                    </div>
                </div>
            </section>
        </section> -->
        <!-- Want To work End -->

        <!--? Company achievement Start -->
        <!-- <section class="services-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <span class="element">Fun Fact</span>
                            <h2>Company achievement</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-cap">
                                <span>4000</span>
                                <p>The automated process starts as soon as your clothes go into the machine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-cap">
                                <span>300+</span>
                                <p>The automated process starts as soon as your clothes go into the machine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-cap">
                                <span>95%</span>
                                <p>The automated process starts as soon as your clothes go into the machine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bottom-bt">
                                <img src="img/gallery/company-bg.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Company achievement End -->
        <!--? About Area  -->
        <section class="about-area2 pb-bottom mt-30">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="about-img">
                            <img src="img/boards.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-25">
                                <h2>About company</h2>
                            </div>
                            <p class="mb-20">
                                TT Currency Exchange is a licensed Money exchange company in Thailand (No. MC325550166). Whether you’re sending money home to your loved ones or going on holiday and need foreign currency, we have all your needs covered.
                            </p>
                            <p class="mb-30">Best rates available on our service. Call us now!</p>

                            <a href="about.html" class="btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        
        
    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding" style="background-color: rgb(0,0,0,0.03) ;">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                     <div class="single-footer-caption mb-50">
                       <div class="single-footer-caption mb-30">
                        <!-- logo -->
                        <div class="footer-logo mb-35">
                            <a href="index.html"><img width="200px"src="img/logo.png" alt=""></a>
                        </div>
                        <div class="footer-tittle">
                            <div class="footer-pera">
                                <p>TT Currency Exchange is a licensed Money exchange company in Thailand (No. MC325550166). 
                                </p>
                            </div>
                        </div>
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" style="padding-top:40px">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Services </h4>
                        <ul>
                            <li><a href="#">- Home</a></li>
                            <li><a href="#exchange">- Exchange Rates</a></li>
                            <li><a href="#contact">- Contact Us</a></li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" style="padding-top:40px">
                <div class="single-footer-caption mb-50" id="contact">
                    <div class="footer-tittle">
                        <h4>Get in touch</h4>
                        <ul>
                            <li class="number">Jatuphat Tang
                                <i class="fab fa-whatsapp"></i>
                                <i class="fab fa-telegram"></i>
                                <a href="#">+66660813861</a>
                            </li>
                            <li class="number">At Thongtang                             <i class="fab fa-whatsapp"></i>
                                <i class="fab fa-telegram"></i>
                                <a href="#">+66993489004</a>
                            </li>
                            <li><a href="#">ttcurrencyservices@gmail.com</a></li>
                            <li><a href="#">The Market, 111 Ratchadamri Rd, Lumphini, Pathum Wan District, Bangkok 10330 Thailand</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- footer-bottom area -->
<!-- <div class="footer-bottom-area section-bg2" data-background="img/gallery/footer-bg.png">
    <div class="container">
        <div class="footer-border">
           <div class="row d-flex align-items-center">
               <div class="col-xl-12 ">
                   <div class="footer-copy-right text-center">
                       <p>
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <!-- Footer End-->
</footer>


            <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE,includedLanguages: 'zh-CN,th,en'}, 'google_translate_element');
            }

            </script>

            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="./js/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="./js/jquery-1.12.4.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./js/jquery.slicknav.min.js"></script>

<script type="text/javascript" src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js" ></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="./js/owl.carousel.min.js"></script>
<script src="./js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="./js/wow.min.js"></script>
<script src="./js/animated.headline.js"></script>
<script src="./js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="./js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="./js/jquery.nice-select.min.js"></script>
<script src="./js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="./js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="./js/jquery.counterup.min.js"></script>
<script src="./js/waypoints.min.js"></script>
<script src="./js/jquery.countdown.min.js"></script>
<script src="./js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="./js/contact.js"></script>
<script src="./js/jquery.form.js"></script>
<script src="./js/jquery.validate.min.js"></script>
<script src="./js/mail-script.js"></script>
<script src="./js/jquery.ajaxchimp.min.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="js/gooss.js"></script>
<script type="text/javascript" src="js/XR.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="./js/plugins.js"></script>
<script src="./js/main.js"></script>

</body>
</html>